@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: url(wdyV6x3eKpdeUPQ7BJ5uUNmn380aTCaHWOdTpxIwvmw.eot)/*tpa=http://fonts.gstatic.com/s/noticiatext/v6/wdyV6x3eKpdeUPQ7BJ5uUNmn380aTCaHWOdTpxIwvmw.eot*/;
}
@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: url(9BG3JJgt_HlF3NpEUehL0Nmn380aTCaHWOdTpxIwvmw.eot)/*tpa=http://fonts.gstatic.com/s/patrickhand/v10/9BG3JJgt_HlF3NpEUehL0Nmn380aTCaHWOdTpxIwvmw.eot*/;
}
